# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# C++
build/
*.exe
*.obj
*.o

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build files
CMakeFiles/

# Dataset
data/

# Large model files
models/

# Runtime DLL
cpp/onnxruntime.dll

# Local test image
test_image.jpg
